/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.container {
  text-align: center;
}

.main {
  margin-bottom: 30px;
}

#timer {
  font-size: 2.5rem;
  color: white;
  margin-top: 20px;
}

button {
  background-color: #2d2d2d;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:active {
  background-color: #ff9800;
}

/* List and sessions styles */
.times-list, .sessions-list {
  margin-top: 20px;
  width: 250px;
  height: 300px;
  overflow-y: auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

/* For mobile */
@media (max-width: 600px) {
  #timer {
    font-size: 3rem;
  }

  button {
    font-size: 1.5rem;
  }
}
