/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sessions-controls input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #333;
}

.sessions-controls button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.sessions-controls button:hover {
  background-color: #0056b3;
}

.sessions-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  height: 100px;
  overflow-y: auto;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}

.sessions-list button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff5722;
  color: #ffffff;
  cursor: pointer;
}

.sessions-list button:hover {
  background-color: #e64a19;
}

.main {
  margin: 20px 0;
}

#timer {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.stats div {
  font-size: 18px;
}

.times-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  height: 200px;
  overflow-y: auto;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}

.times-list li {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.times-list li:hover {
  background-color: #444;
}
